.fix-box {
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 1px white dotted;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding-top: 4px;
}



.subheading{
    color: white;
    text-align: center;
}